.BigContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: inherit;
}

.BigContainerEmpty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: inherit;
}

.Records {
  margin: 0 auto;
  width: 70%;
  border-collapse: collapse;
}

.Heading,
.Record {
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 500;
}

.Heading {
  font-size: 15px;
}

th, td {
  padding: 10px;
}

.Record:nth-child(odd) {
  background-color: rgb(200, 218, 141);
}

.Record:nth-child(even) {
  background-color: rgb(158, 173, 106);
}

.Heading {
  background: rgb(150, 190, 14);
  color: #FFFFFF;
}

.HideDesktop {
  display: none;
}

.Header {
  font-family: Poppins, sans-serif;
  font-size: 35px;
  font-weight: 300;
  margin-bottom: 10px;
}

@media screen and (max-width: 650px) {
  .BigContainer {
    display: block;
    padding-top: 20px;
    text-align: center;
  }

  .Records {
    width: 95%;
  }
}