.Carousel {
  margin-left: 200px;
  width: calc(100% - 200px);
  position: relative;
}

.LeftArrowContainer {
  width: 100px;
  height: 50px;
  background: rgb(150, 190, 14);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 50vh;
  cursor: pointer;
}

.LeftArrowContainer:focus {
  outline: none;
}

.RightArrowContainer {
  width: 100px;
  height: 50px;
  background: rgb(150, 190, 14);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 50vh;
  cursor: pointer;
}

.RightArrowContainer:focus {
  outline: none;
}

.LeftArrow {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 20px solid #FFFFFF;
	border-bottom: 10px solid transparent;
}

.LeftArrowSmaller {
  width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-right: 15px solid #c4db78;
	border-bottom: 8px solid transparent;
  position: relative;
  top: -8px;
  left: 3px;
}

.RightArrow {
  width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-left: 20px solid #FFFFFF;
	border-bottom: 10px solid transparent;
}

.RightArrowSmaller {
  width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-left: 15px solid #c4db78;
	border-bottom: 8px solid transparent;
  position: relative;
  top: -8px;
  left: -18px;
}

.Active {
  display: block;
  text-decoration: none;
}

.Inactive {
  display: none;
}

.Slide {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Image {
  width: 400px;
  height: 350px;
  border-radius: 50%;
}

.SlideHeader {
  font-family: 'Roboto Slab', serif;
  color: rgb(112, 112, 112);
  margin-bottom: 20px;
  font-size: 19px;
}

.SlideText {
  font-family: Poppins, sans-serif;
  color: rgb(112, 112, 112);
  margin: 20px 0;
}

.NavLink {
  color: #FFFFFF;
  background: rgb(150, 190, 14);
  text-decoration: none;
  padding: 7px 15px;
}