.Signup,
.Signin {
  width: 100%;
  min-height: 100vh;
  height: inherit;
  background: url("../assets/vespa2.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 10px;
}

.Signin {
  background: url("../assets/vespa3.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.Form,
.SigninForm {
  position: relative;
  width: 600px;
  margin: 10px auto;
  z-index: 2;
  background: #FFFFFF;
  padding: 25px 25px 10px 25px;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;

  h2 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    color: #96bf24;
  }

  label {
    text-align: left;
    font-size: 13px;
  }
}

.SigninForm {
  width: 400px;
}

.FormSection {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.FormArea {
  width: 48%;
  margin-top: 7px;
}

.FormAreaSection {
  width: 100%;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  border: 1px solid #96bf24;
  border-radius: 5px;

  input {
    width: 90%;
    border: none;
    padding: 5px;
    font-family: 'Poppins', sans-serif;
  }

  input::placeholder {
    font-family: 'Poppins', sans-serif;
  }

  img {
    width: 20px;
    height: 20px;
    margin-top: 5px;
  }
}

.EmailSection {
  width: 100%;
}

.EmailSection > div {
  width: 100%;
}

.RegisterBtn {
  margin-top: 20px;
  width: 100%;
  background: #96bf24;
  border: none;
  padding: 15px 0;
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
  cursor: pointer;
}

.Error {
  color: rgb(238, 8, 8);
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  margin-bottom: 0;
}

.CtaLogin {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  font-size: 14px;
}

.SignInText {
  color: #96bf24;
  text-decoration: none;
  margin-left: 10px;
}

@media screen and (max-width: 650px) {
  .Form,
  .SigninForm {
    position: relative;
    width: 90%;
  }

  .FormSection {
    display: block;
  }

  .FormArea {
    width: 100%;
    margin-top: 10px;
  }
}