* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.rounded {
  border-radius: 50%;
  padding: 4px;
  border: 1px solid rgb(112, 112, 112);
}

.active {
  background: rgb(150, 190, 14);
  color: #fff !important;
  padding: 7px 5px;
}
