.VespaContainer {
  width: 100%;
}

.Vespa {
  width: calc(100% - 200px);
  margin-left: 200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.VespaSection {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.VespaImg {
  width: 55%;
  height: 400px;
  margin: 0 auto 10px auto;
}

.Header {
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
  color: rgb(65, 60, 60);
}

.Text {
  font-family: Poppins, sans-serif;
  margin-top: 10px;
  color: rgb(121, 115, 115);
}

.Btn {
  background: rgb(150, 190, 14);
  color: #FFFFFF;
  border: none;
  margin-top: 10px;
  padding: 10px 20px;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  border-radius: 20px;
  cursor: pointer;
}

.Btn:hover {
  color: rgb(150, 190, 14);
  background: #FFFFFF;
  padding: 9px 19px;
  border: 1px solid rgb(150, 190, 14);
}

.Btn:focus {
  outline: none;
}